@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background: transparent;
  color: #FAD02C;
}
html{
  font-family: 'Coming Soon', monospace;
}
html::selection{
  background: transparent;
  color: mediumpurple;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: linear-gradient(45deg, aqua, mediumpurple);
}
.cherishment{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.cherishment ul{
  list-style: none;
}

.cherishment ul li{
  padding: 20px;
  background: linear-gradient(45deg, mediumpurple, aqua);
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cherishment ul li:last-child{
  margin-bottom: 0;
}

.cherishment-content h1{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.cherishment-content p{
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.cherishment-content .progress{
  font-size: 12.6px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-style: italic;
}

.cherishment-content img{
  width: 140px;
  height:100px;
  display: initial;
}

/* .roadmap-content .done:hover{
  font-size: 12.6px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-style: italic;
  color: green;
} */
/* .roadmap ul li:hover{
  box-shadow: 0px 2px 10px grey;
  cursor: default;
  background: linear-gradient(to left, mediumpurple, aqua);
} */

.cherishment ul li:hover{
 /* box-shadow: 0px 2px 10px grey; */
  cursor: default;
  color: black; /* whitesmoke */
  background: linear-gradient(to left, mediumpurple, aqua);
}

hr{
  margin-bottom: 8px;
}

button{
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, aqua, mediumpurple);
  color:;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  padding: 3px 6px;
  border-radius: 14px;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
}

button:hover{
  background: linear-gradient(45deg, mediumpurple, aqua);
}

@media only screen and (min-width: 768px){
  .cherishment::before{
    content: '';
    position: absolute;
    height; 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
  }
  .cherishment ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .cherishment ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 15px 0px 15px 15px;
  }
  .cherishment ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 15px 15px 15px;
  }
  .cherishment ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    top: 0;
  }
  .cherishment ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -30px;
  }
  .cherishment ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .cherishment ul li:hover:after{
    background-color: aqua;
  }
  .cherishment-content .progress{
    position: absolute;
    top: -22px;
    font-size: 20px;
    font-style: italic;
  }
  .cherishment ul li:hover{
  box-shadow: 0px 2px 10px grey;
  cursor: default;
  color: black; /* whitesmoke */
  background: linear-gradient(to left, mediumpurple, aqua);
  }
  .cherishment-content img{
    width: 64px;
    height: 64px;
    border-radius: 48%;
    display: initial; /* was initial before */
    overflow: hidden;
    opacity: 0.3;
  }
 .cherishment-content img:hover{
    opacity: 0.7;
  }
  
  hr{
  margin-bottom: 8px;
  }
  
  button{
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, aqua, mediumpurple);
  color:;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  padding: 3px 6px;
  border-radius: 14px;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  }

  button:hover{
    background: linear-gradient(45deg, mediumpurple, aqua);
  }
  *::selection{
  background: transparent;
  color: #FAD02C;
  }
}
